<p>home works!</p>
<button type="button" (click)="callApiHandler()">Get Api Data</button>

    <!-- <table [cellPadding]="5" [cellSpacing]="0" [border]="1">
        <thead>
            <th>Id</th>
            <th>albumId</th>
            <th>title</th>
            <th>url</th>
            <th>thumbnailUrl</th>
        </thead>
        <tbody>
        @for (item of thumbnail; track item.id) {
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.albumId}}</td>
                <td>{{item.title}}</td>
                <td>{{item.url}}</td>
                <td>{{item.thumbnailUrl}}</td>
            </tr>
        }
        </tbody>
    </table> -->