// @import '~@angular/material/prebuilt-themes/purple-green.css';
html, body { height: 100%; }
body {  font-family: Roboto, "Helvetica Neue", sans-serif; }

  .basic-container {
    padding: 5px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  