<div class="row">
    <div class="col-xs-12">
        <form class="g-3" autocomplete="off">
            <div class="row mb-3">
                <div class="col-sm-4">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" id="amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success me-2">Add</button>
                    <button type="button" class="btn btn-danger me-2">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

