<div style="padding: 5px 0px 0px 50px">
    <div mat-dialog-content>
        <h3 mat-dialog-title class="mb-2">User Profile</h3>
        <div class="table_component">
            <div class="pm-project-view">
                <div class="row">
                    <div class="col-md-6 col-6">
                        <label>Name</label>
                        <h6>{{client_contact?.first_name}} {{client_contact?.last_name}}</h6>
                    </div>
                    <div class="col-md-6 col-6">
                        <label>Email</label>
                        <h6>{{client_contact?.email}}</h6>
                    </div>
                    <div class="col-md-6 col-6">
                        <label>Contact</label>
                        <h6>{{client_contact?.cell_no}}</h6>
                    </div>
                    <div class="col-md-6 col-6">
                        <label>Designation</label>
                        <h6>{{client_contact?.designation}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-6">
                        <label>Address</label>
                        <h6>{{client_contact?.address}}</h6>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>