<div class="pt-2">
  <div class="row header mb-3">
    <div class="col-md-3">
      <h5>Locations</h5>
    </div>
    <div class="col-md-6">
      <input
        (keyup)="filter($event)"
        maxlength="100"
        autocomplete="off"
        placeholder="Search..."
        #input
        class="form-control browser-default search-field"
      />
    </div>
    <div class="col-md-3 text-center">
      <button
        mat-raised-button
        color="primary"
        (click)="addLocation()"
        matTooltip="Add Location"
      >
        Add Lcation
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="exportTable()">
        Export Csv
      </button>
    </div>
  </div>

  <div class="mt-2">
    <table
      id="locationstats"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <!-- Location Name Column -->
      <ng-container matColumnDef="loc_name">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let element">{{ element.loc_name }}</td>
      </ng-container>
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
      <!-- API Key Column -->
      <ng-container matColumnDef="imagex_api_key">
        <th mat-header-cell *matHeaderCellDef>API Key</th>
        <td mat-cell *matCellDef="let element">{{ element.imagex_api_key }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
