<section>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Products</h2>

                <div class="row align-items-start gx-2 gy-2">
                    <div class="col-md-4" *ngFor="let product of products" id="{{product.id}}">
                        <div class="card bg-info-subtle text-info-emphasis">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}</p>
                                <p>Price - {{product.price}}</p>
                                <a href="#" class="btn btn-primary">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Array</h2>

                <div class="row align-items-start gx-2 gy-2">
                    <div class="col-md-4" *ngFor="let fruit of fruits">
                        <div class="card bg-info-subtle text-info-emphasis">
                            <div class="card-body">
                                <h5 class="card-title">{{fruit}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Constructor</h2>

                <div class="row align-items-start gx-2 gy-2">
                    <div class="col-md-4">
                        <div class="card bg-info-subtle text-info-emphasis">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ todayDateField }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>