<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">To Shopping List</a></li>
                <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
                <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perferendis error aut ex autem a, tenetur vitae magnam veniam porro amet fugit magni impedit animi eum consequuntur, sit asperiores nihil.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ingredients Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perferendis error aut ex autem a, tenetur vitae magnam veniam porro amet fugit magni impedit animi eum consequuntur, sit asperiores nihil.</p>
    </div>
</div>