<div class="dashboard-content">
    <div class="content-body">

    <div class="col-xl-5  col-lg-6 col-sm-6">
        <div class="widget-stat card bg-warning">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="me-3">
                        <i class="material-symbols-outlined"><span
                                class="material-symbols-outlined">
                                card_membership
                            </span></i>

                    </span>
                    <div class="media-body text-white">
                        <h5 class="text-white">Subscription Plan</h5>
                        <h4 class="text-white">200000 Credits</h4>
                        <div class="progress mb-2 bg-secondary">
                            <div class="progress-bar progress-animated bg-white"
                                style="width: 100%"></div>
                        </div>
                        <span>$0.02 per image credit </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-7 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-danger">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="me-3">
                        <i class="material-symbols-outlined"><span
                                class="material-symbols-outlined">
                                monitor_heart</span></i>

                    </span>
                    <div class="media-body text-white">
                        <h5 class="text-white">Credit Health Check</h5>
                        <h4 class="text-white">please maintain a healthy credit
                            limit</h4>
                        <div class="progress mb-2 bg-secondary">
                            <div class="progress-bar progress-animated bg-white"
                                style="width: 100%"></div>
                        </div>
                        <span>replenish the account if consumption is above or
                            equal to 80% of credits </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-12 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-success">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="me-3">
                        <i class="material-symbols-outlined">balance</i>

                    </span>
                    <div class="media-body text-white">
                        <h5 class="text-white">Usage Chart</h5>
                        <h4 class="text-white">Total Available Credits 180000</h4>
                        <div class="progress mb-2 bg-secondary">
                            <div class="progress-bar progress-animated bg-white"
                                style="width: 80%"></div>
                        </div>
                        <h5 class="text-white">Total Credits Consumed till date
                            20000 </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>