<div class="pt-4">
    <h4>User Access by Location</h4>
    <div>
        <div class="table-responsive">
            <table id="example" class="display table table-width">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Invoice</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01/10/2023</td>
                        <td>Invoice Month of October</td>
                        <td>Download <span><i class="material-symbols-outlined">download</i></span>
                            < /td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Date</th>
                        <th>Invoice</th>
                        <th>Download</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>